{{ $baseurl := .Site.BaseURL }}
<main role="main" class="homepage">

  {{ partial "hero.html" . }}

  <h1 class="headline">Recent Posts</h1>

  <div class="article-list">
    {{ $paginator := .Paginate (where .Data.Pages "Section" "post") }}
    {{ range $paginator.Pages }}
      {{ partial "article-list-item.html" . }}
    {{ end }}
  </div>

  {{ if gt .Paginator.TotalPages 1 }}

  <nav class="pagination">
	  <a>{{ $paginator.PageNumber}} of {{ $paginator.TotalPages}}</a>
	  {{ if $paginator.HasPrev }}
	  <a class="newer-posts" href="{{ $paginator.Prev.URL }}"> &laquo; Newer posts </a>
	  {{ end }}
	  {{ if $paginator.HasNext}}
	  <a class="older-posts" href="{{ $paginator.Next.URL }}"> Older posts &raquo; </a>
	  {{ end }}
  </nav>

  {{ end }}

{{ with .Site.Taxonomies.categories }}

  <h2 class="headline">Categories</h2>

  <section class="categories">
    {{ range $name, $value := . }}
    <span class="category">
      <a href="{{ $baseurl }}categories/{{ $name | urlize }}">{{ title $name }}</a>
      <small>({{ .Count }})</small>
    </span>
    {{ end }}
  </section>

{{ end }}

{{ with .Site.Taxonomies.tags }}

  <h2 class="headline">Tags</h2>

  <section class="tags">
    {{ range $name, $value := . }}
    <span class="tag">
      <a href="{{ $baseurl }}tags/{{ $name | urlize }}">{{ $name }}</a>
      <small>({{ .Count }})</small>
    </span>
    {{ end }}
  </section>

{{ end }}

</main>
